@model Star_Security.ViewModels.LoginVM;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@if (TempData["LoginError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["LoginError"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="wrapper">
    <form asp-action="Login" method="post">
        <h1>Login</h1>
        <!-- Username Field -->
        <div class="inp-bx user-field">
            <input type="text" placeholder="Username" name="Username" />
            <span class="material-symbols-rounded"> person </span>
            @if (ViewData.ModelState["Username"]?.Errors.Count > 0)
            {
                <span class="username-error error">
                    <span class="material-symbols-rounded error-icon"> error </span>
                    <p class="error-text mb-0">@ViewData.ModelState["Username"].Errors[0].ErrorMessage</p>
                </span>
            }
        </div>

        <!-- Password Field -->
        <div class="inp-bx pass-field ">
            <input type="password" placeholder="Password" name="Password" />
            <span class="material-symbols-rounded show-hide"> visibility </span>

            @if (ViewData.ModelState["Password"]?.Errors.Count > 0)
            {
                <span class="pass-error error">
                    <span class="material-symbols-rounded error-icon"> error </span>
                    <p class="error-text mb-0">@ViewData.ModelState["Password"].Errors[0].ErrorMessage</p>
                </span>
            }
        </div>

        <div class="remember-forgot">
            <label><input type="checkbox" name="" id="" /> Remember me</label>
            <a href="./forgot.html">Forgot password?</a>
        </div>

        <button type="submit" class="btn login-btn">Login</button>
    </form>
</div>