<section class="dashboard">
    <div class="top-cards">
        <div class="card" id="card-1">
            <h3 class="value">2/40</h3>
            <p class="label">Ticket Solds</p>
        </div>
        <div class="card" id="card-2">
            <h3 class="value">$2,500</h3>
            <p class="label">Net Sales</p>
        </div>
        <div class="card" id="card-3">
            <h3 class="value">0/40</h3>
            <p class="label">Add-ons sold</p>
        </div>
        <div class="card" id="card-4">
            <h3 class="value">$200K</h3>
            <p class="label">Page Views</p>
        </div>
    </div>

    <div class="charts-row first-row">
        <div class="chart-card">
            <h3>Event statistic</h3>
            <div id="donut-chart"></div>
        </div>
        <div class="chart-card">
            <h3>Event statistic</h3>
            <div id="line-chart"></div>
        </div>
    </div>

    <div class="charts-row sec-row">
        <div class="chart-card">
            <div id="area-chart"></div>
        </div>
        <div class="chart-card">
            <div id="bar-chart"></div>
        </div>
    </div>
</section>