:root {
  /* Backgrounds */
  --bg-linear-dark: linear-gradient(120deg, #000316, #0d002c);
  --color-bg-dark: #000316; /* Main sidebar / body */
  --color-bg-panel: #0d1025; /* Nav items / cards */
  /* --color-bg-hover: #11005e;       Hover / active item background */
  --color-bg-hover: #1c0147; /* Hover / active item background */
  --color-bg-toggler: #1c01474d; /* Toggler button default */
  --color-bg-toggler-hover: #12014e; /* Toggler hover */

  /* Text Colors */
  --color-text-light: #ffffff; /* Main text */
  --color-text-muted: #8a8fa8; /* Secondary / nav link text */
  --color-text-accent: #6ca9ff; /* Icon inside toggler, optional accent */

  /* Borders */
  --color-border: #151a2e; /* Panel / nav link borders */
  --color-border-toggler: #0044ff; /* Toggler outline */

  /* Shadows / Glow */
  --color-glow: rgba(0, 255, 255, 0.1); /* Optional glow / accent */
}

.main-wrapper .dashboard{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-wrapper .dashboard .top-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 130px;
    gap: 20px;
}
.dashboard .top-cards #card-1{
    background: linear-gradient(190deg,#a270fd,#2a05af);
}
.dashboard .top-cards #card-2{
    background: linear-gradient(190deg,#8fc2fd,#0630b8);
}
.dashboard .top-cards #card-3{
   background: linear-gradient(190deg, #fd8c95, #bb100d);
}
.dashboard .top-cards #card-4{
    background: linear-gradient(190deg,#db83fd,#9117b6);
}
.dashboard .top-cards .card{
    border-radius: 12px;
    padding: 20px 30px;

    & h3{
        font-size: 28px;
        font-weight: 700;
    }

    .label{
        opacity: .8;
        font-size: 13px;
    }
}

.dashboard :where(.first-row, .sec-row){
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.dashboard :where(.first-row) .chart-card:first-child{
    flex: .4;
}
.dashboard :where(.first-row) .chart-card:last-child{
    flex: 1;
    min-width: 400px;
}
.dashboard :where(.sec-row) .chart-card:first-child{
    flex: 1;
}
.dashboard :where(.sec-row) .chart-card:last-child{
    min-width: 400px;
    flex: .4;
}

.dashboard :where(.first-row, .sec-row) .chart-card{
    height: 320px;         
    /* padding: 20px;           */
    /* box-sizing: border-box; */
    /* overflow: visible;     */
    /* position: relative; */
    /* height: 100%; */
    background: rgba(113, 43, 241, 0.24);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    padding-inline: 10px;

    & h3{
    font-size: 20px;
    padding: 15px 0 0 20px;
   }
}
.dashboard :where(.first-row, .sec-row) :where(#donut-chart, #area-chart) {
    width: 100%;
    height: 100%;           
    max-height: 200px;   
    min-height: 200px;   
}
.dashboard :where(.first-row, .sec-row) :where(#line-chart, #bar-chart ) {
    width: 100%;
    height: 100%;           
    min-height: 200px;   
    overflow-x: hidden;
}

#donut-chart .apexcharts-legend {
    gap: 10px;
    justify-content: center;
    color: #ffc802;
}

/* .apexcharts-canvas {
    overflow: visible !important;
} */

.dashboard :where(.first-row, .sec-row) .chart-card .apexcharts-legend-marker {
  border-radius: 6px !important; 
  overflow: hidden;
}
