.wrapper {
    background: rgba(113, 43, 241, 0.24);
    position: relative;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
    z-index: 99999;
    h1

{
    font-size: 36px;
    text-align: center;
}

}

.btn-update {
    background: linear-gradient(190deg, #a270fd, #2a05af);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: 600;
}

    .btn-update:hover {
        background: linear-gradient(190deg, #8847ff, #160163);
    }
.btn-delete {
    background: linear-gradient(190deg, #ff4b5c, #d90429);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: 600;
}

    .btn-delete:hover {
        background: linear-gradient(190deg, #d90429, #a0001d);
    }


.btn-cancel {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 8px;
    padding: 8px 20px;
}

    .btn-cancel:hover {
        background: rgba(255, 255, 255, 0.2);
    }

.add-btn {
    width: 100%;
    height: 45px;
    background: linear-gradient(190deg, #a270fd, #2a05af);
    color: var(--color-text-light);
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    &:hover

{
    color: #fff;
    background: linear-gradient(190deg, #8847ff, #160163);
}

&:active {
    background: linear-gradient(190deg, #b28df8, #5224f8);
}

}

.inp-bx {
    flex: 1;
    min-width: 330px;
    /* height: 50px; */
    display: flex;
    flex-direction: column;

    & > span:first-of-type

{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    /* font-size: 20px; */
    color: #ccc;
}

input, textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    /* border: none; */
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    font-size: 14px;
    color: #fff;
    /* padding: 10px 20px ; */
    padding: 10px 45px 10px 10px;
    transition: all 0.2s ease-in-out;
    &:focus

{
    border-color: rgba(255, 255, 255, 0.8);
}

&::placeholder {
    color: #cccccc81;
}

}
}


#description {
    resize: vertical;
    min-height: 80px;
    max-height: 200px;
}

.input-wrap {
    position: relative;
}

    .input-wrap input {
        height: 100%;
        width: 100%;
    }

    .input-wrap > .material-symbols-rounded {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        color: #ccc;
        pointer-events: none;
    }

.inp-bx select {
    width:100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    color: #fff;
    padding: 10px 20px;
    outline: none;
}

input[readonly] {
    border: 2px solid #555; 
    color: #555; 
    cursor: not-allowed; 

    &:focus{
               border-color:#555;
           }

}

.inp-bx select option:not(:first-child) {
    background: #2c033f;
    color: #fff;
}
.inp-bx select option:first-child {
    background: #1b1b1b;
    color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
}

.wrapper .inp-fields {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 10px;
    row-gap: 30px;
}

.input-wrap .validation-span {
    position: absolute;
    bottom: -22px;
    left: 0;
    font-size: 12px;
}
.validation-summary-errors ul{
    margin-bottom:0 !important;
}
.glass-toast {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    font-weight: 500;
    font-size: 14px;
    margin-top: 70px;
}

    .glass-toast .swal2-close {
        color: #fff;
        font-size: 16px;
        opacity: 0.7;
    }

        .glass-toast .swal2-close:hover {
            opacity: 1;
        }

.form-check-input:focus {
    box-shadow: none;
}

.edit-modal {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);

    label{
             font-size:12px;
         }
}
