@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-size: 14px; */
  color: var(--color-text-light);
}

:root {
  /* Backgrounds */
  --bg-linear-dark: linear-gradient(120deg, #000316, #0d002c);
  --color-bg-dark: #000316; /* Main sidebar / body */
  --color-bg-panel: #0d1025; /* Nav items / cards */
  /* --color-bg-hover: #11005e;       Hover / active item background */
  --color-bg-hover: #1c0147; /* Hover / active item background */
  --color-bg-toggler: #1c01474d; /* Toggler button default */
  --color-bg-toggler-hover: #12014e; /* Toggler hover */

  /* Text Colors */
  --color-text-light: #ffffff; /* Main text */
  --color-text-muted: #8a8fa8; /* Secondary / nav link text */
  --color-text-accent: #6ca9ff; /* Icon inside toggler, optional accent */

  /* Borders */
  --color-border: #151a2e; /* Panel / nav link borders */
  --color-border-toggler: #0044ff; /* Toggler outline */

  /* Shadows / Glow */
  --color-glow: rgba(0, 255, 255, 0.1); /* Optional glow / accent */
}

body {
  /* background:
        radial-gradient(circle at 30% 20%, #17008055, transparent 60%),
        radial-gradient(circle at 70% 80%, #00103155, transparent 70%),
        linear-gradient(135deg, #000316, #071027, #0a1235); */
  background: var(--color-bg-dark);
  min-height: 100dvh;
  position: relative;
  font-size: 14px;
}

body::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scale(2.35);
  position: fixed;
  top: 0;
  left: 35%;
  filter: blur(18px);
  background: linear-gradient(
    120deg,
    var(--color-bg-hover),
    #2b016e,
    rgb(106, 30, 177)
  );
}
body::after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scale(2.35);
  position: fixed;
  bottom: 0;
  right: 10%;
  filter: blur(12px);
  background: linear-gradient(
    -120deg,
    var(--color-bg-hover),
    #2b016e,
    rgb(106, 30, 177)
  );
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100dvh;
  background: var(--bg-linear-dark);
  transition: all 0.4s ease;
  z-index: 9999;
}

.sidebar.collapsed {
  width: 85px;
  z-index: 9999;
}

.sidebar .sidebar-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 25px 20px;
  justify-content: space-between;
}

.sidebar .sidebar-header .sidebar-toggler {
  position: absolute;
  right: -10px;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  outline: 2px solid var(--color-bg-toggler-hover);
  outline-offset: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--color-bg-toggler);
  color: var(--color-text-muted);
  transition: 0.4s ease;
}

.sidebar .sidebar-header .sidebar-toggler:hover {
  background: rgba(67, 23, 170, 0.479);
  color: var(--color-text-light);
  outline-color: var(--color-bg-hover);
}

.sidebar-header .sidebar-toggler span {
  font-size: 1.6rem;
  transition: 0.4s ease;
}
.sidebar.collapsed .sidebar-toggler span {
  transform: rotate(180deg);
}

.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 15px;
  transform: translateY(10px);
  transition: 0.4s ease;
}
.sidebar-nav .primary-nav {
  overflow-y: auto;
  height: calc(100vh - 227px);
  padding-bottom: 20px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.sidebar-nav .primary-nav:hover {
  scrollbar-color: var(--color-bg-hover) transparent;
}
.sidebar.collapsed .sidebar-nav .primary-nav {
  overflow-y: unset;
  /* transform: translateY(60px); */
}

.sidebar-nav .nav-item .nav-link {
  color: var(--color-text-muted);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.4s ease;
  text-wrap: nowrap;
}

.sidebar-nav .nav-link :where(.nav-label, .drop-icon) {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link :where(.nav-label, .drop-icon) {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .sec-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
/* .sidebar-nav .nav-item:is(:hover, .open) > .nav-link:not(.drop-title) { */
/* background: linear-gradient(-90deg,rgba(52, 17, 83, 0.247),rgba(67, 23, 170, 0.479)); */
/* background: rgba(67, 23, 170, 0.479); */
/* background: var(--color-bg-hover);
  color: var(--color-text-light);
} */

/* Dropdown Css */

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-link {
  position: relative;
  z-index: 2;
  color: var(--color-text-dark);
  transition: color 0.3s ease;
}

/* Gradient layer */
.sidebar-nav
  .nav-item:not(.drop-container)
  > .nav-link:not(.drop-title)::before,
.sidebar-nav .drop-container > .nav-link.drop-toggle::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    -90deg,
    rgba(76, 15, 129, 0.575),
    rgba(67, 23, 170, 0.48)
  );
  opacity: 0;
  transition: opacity 0.35s ease;
  border-radius: 8px;
  z-index: -1;
}

/* Hover / Active */
.sidebar-nav .nav-item:is(:hover, .open) > .nav-link:not(.drop-title)::before {
  opacity: 1;
}

.sidebar-nav .nav-item:is(:hover, .open) > .nav-link:not(.drop-title) {
  color: var(--color-text-light);
}

.sidebar-nav .drop-container .drop-icon {
  margin: 0 -4px 0 auto;
  transition: transform 0.4s ease, opacity 0.3s 0.2s ease;
}
.sidebar.collapsed .drop-container .drop-icon {
  transition: opacity 0.3s 0s ease;
}
.sidebar-nav .drop-menu {
  height: 0;
  overflow-y: hidden;
  list-style: none;
  padding-left: 15px;
  transition: height 0.4s ease;
}

.sidebar-nav .drop-container.open .drop-icon {
  transform: rotate(180deg);
}
.sidebar.collapsed .drop-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  opacity: 0;
  pointer-events: none;
  height: auto !important;
  overflow-y: unset;
  /* background: var(--bg-linear-dark); */
  background: linear-gradient(120deg, #0b0033, #0d002c);
  /* background: goldenrod; */
  border-radius: 0 10px 10px 10px;
  padding-right: 10px;
  transition: 0s;
}

.sidebar.collapsed .drop-menu:has(.drop-link) {
  padding: 7px 10px 7px 24px;
}

.sidebar.collapsed .nav-item:hover .drop-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(12px);
  transition: 0.4s ease;
}

.drop-menu .nav-item .nav-link {
  padding: 9px 15px;
}
.sidebar.collapsed .drop-menu .nav-link {
  padding: 7px 15px;
}

.drop-menu .nav-item .drop-title {
  display: none;
  /* color: white; */
}
.drop-menu:has(.drop-link) .nav-item .drop-title {
  font-weight: 600;
  color: var(--color-text-light);
}
.sidebar.collapsed .drop-menu .nav-item .drop-title {
  display: block;
}

/* .sidebar-menu-button {
  display: none;
} */

.main-wrapper {
  padding: 0px 50px;
}
.main-wrapper,
.header {
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.4s ease;
  z-index: 999;
}
.header {
  padding: 25px 50px;
}
.main-wrapper h1 {
  color: white;
  font-size: 50px;
}
.sidebar.collapsed ~ .main-wrapper,
.header.collapsed {
  left: 85px;
  width: calc(100% - 85px);
}

.header .header-left .header-button {
  /* display: block;
  position: fixed;
  left: 20px;
  top: 20px; */
  width: 40px;
  height: 40px;
  border: none;
  background: rgba(53, 30, 105, 0.63);
  padding: 6px 6px;
  border-radius: 6px;
  transition: 0.4s ease;
  cursor: pointer;
}
.header .header-left .header-button span {
  font-size: 1.8rem;
  color: var(--color-text-muted);
  transition: color 0.4s ease;
}

.header .header-left .header-button:hover {
  background: rgba(53, 30, 105, 1);

  & span {
    color: var(--color-text-light);
  }
}
@media (max-width: 768px) {
  .sidebar.collapsed {
    width: 260px;
    left: -275px;
  }
  .sidebar.collapsed ~ .main-wrapper,
  .header.collapsed {
    left: -25px;
  }

  /* .sidebar.collapsed .sidebar-nav .primary-nav{
    transform: translateY(15px);
  } */
}

/* Header Css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header :where(.header-left, .header-right) {
  display: flex;
  gap: 20px;
}
.header .header-right .search-bar {
  width: 100%;
  height: 45px;
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
  }

  & input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: rgba(53, 30, 105, 0.63);
    padding: 5px 15px 5px 47px;
    border-radius: 60px;
  }
}

.header .header-right .header-button:not(:last-child) {
  min-width: 45px;
  width: 45px;
  height: 45px;
  border: none;
  background: rgba(53, 30, 105, 0.63);
  padding: 0px 6px;
  border-radius: 6px;
  line-height: 1.2;
  transition: 0.4s ease;
  cursor: pointer;
}
.header .header-right .header-button:last-child {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 45px;
  border: none;
  background: linear-gradient(190deg, #a270fd, #2a05af);
  padding: 3px 10px;
  border-radius: 6px;
  line-height: 1;
  transition: 0.4s ease;
  cursor: pointer;

  p {
    text-wrap: nowrap;
  }
  &:hover {
    background: linear-gradient(190deg, #8847ff, #160163);
  }
  &:active {
    background: linear-gradient(190deg, #b28df8, #5224f8);
  }
}

.header .header-right .header-button:not(:last-child) span {
  font-size: 1.5rem;
  color: var(--color-text-muted);
  transition: color 0.4s ease;
}

.header .header-right .header-button:hover:not(:last-child) {
  background: rgba(53, 30, 105, 1);

  & span {
    color: var(--color-text-light);
  }
}
